<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Author Profile</h3>

      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab"> BIO</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab"> Books </a>
            </li>
          </ul>
          <br>
          <br>
          <div class="tab-content" *ngIf="author">
            <div class="tab-pane active" id="tab_default_1">

              <section id="author">
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row author">
                        <div class="col-sm-4">
                          <img
                            src="https://cdn4.vectorstock.com/i/1000x1000/46/73/person-gray-photo-placeholder-man-material-design-vector-23804673.jpg"
                            alt=""
                            class="pic"
                          />
                        </div>
                        <div class="col-sm-8 author-name">
                          <h2 class="heading wow animated fadeInUp">
                            {{ author.name }}
                          </h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h3 class="subheading gray wow animated fadeInUp">
                            {{ author.about }}
                          </h3>
                        </div>
                      </div>
                    </div>
                    <!-- col-md-6 author -->
                  </div>
                </div>
              </section>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <div class="card-body">
                <div class="row">
                  <div class="column" *ngFor="let authorbook of author.books">
                    <div class="card">
                      <img
                        src="https://cdn4.vectorstock.com/i/1000x1000/46/73/person-gray-photo-placeholder-man-material-design-vector-23804673.jpg"
                        alt=""
                        class="pic"
                      />
                      <p>{{ authorbook.title }}</p>
                      <p>{{ authorbook.isbn13 | isbn: true }}</p>

                      <p>
                        <button
                          [routerLink]="['/book', authorbook.isbn13, 'details']"
                        >
                          View book Details
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
