<div class="container">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="text-align: center;">Book Create form</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form novalidate (ngSubmit)="save()" [formGroup]="createBookForm">
              <div class="form-group">
                <label for="isbn13">isbn13</label>
                <div>
                  <input class="form-control" id="isbn13" type="text" placeholder="isbn13" formControlName="isbn13"
                    [ngClass]="{
                      'is-invalid':
                        (isbn13.touched || isbn13.dirty) && !isbn13.valid
                    }" />
                  <span class="invalid-feedback">
                    <span *ngIf="isbn13.errors?.required">
                      isbn13 is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="title">title</label>
                <div>
                  <input class="form-control" id="title" type="text" placeholder="title" formControlName="title"
                    [ngClass]="{
                      'is-invalid':
                        (title.touched || title.dirty) && !title.valid
                    }" />
                </div>
              </div>

              <div class="form-group">
                <label for="author">Author</label>
                <select class="form-control" formControlName="author">
                  <option class="form-control" [value]="author.id" *ngFor="let author of authorList">
                    {{ author.name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="tag">Tag</label>
                <select class="form-control" formControlName="tags">
                  <option class="form-control" [value]="tag.id" *ngFor="let tag of tagList">
                    {{ tag.description }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="about">about</label>
                <div>
                  <textarea class="form-control" id="about" type="text" placeholder="about" rows="3" formControlName="about"
                    [ngClass]="{
                      'is-invalid':
                        (about.touched || about.dirty) && !about.valid
                    }" ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button class="btn btn-primary mr-3" type="submit" [title]="" [disabled]="!createBookForm.valid">
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
