<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="text-center"> <b i18n="Authors Header|Words Authors Header@@Words Authors Header">Authors</b></h2>
        </div>
        <div class="col-sm-4">
          <div class="search-box">
            <i class="material-icons">&#xE8B6;</i>
            <div class="input-group">

              <form [formGroup]="searchForm">
                <input type="text" class="form-control" placeholder="Search&hellip;" formControlName="searchStr" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="column" *ngFor="let author of authors">
      <div class="card">
        <img src="https://www.pngkey.com/png/detail/349-3499617_person-placeholder-person-placeholder.png" />
        <p>{{ author.name }}</p>
        <p class="title" i18n="About Header|Words About Header@@Words About Header">About : </p>
        <p>{{ author.about}}</p>

        <p>
          <button [routerLink]="['/author', author.id, 'details']"
            i18n=" View Author Details Header|Words  View Author Details Header@@Words  View Author Details Header">
            View Author Details
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
