$grid-float-breakpoint: 768px;
.text-picture {
  padding-top: 5%;
  padding-bottom: 5%;
  &.text-picture--gray-bg {
    background-color: #eee;
  }
  .text-picture__text {
    h3 {
      margin-top: 0;
    }
    @media (min-width: $grid-float-breakpoint) {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .text-picture__picture {
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.container {
  background-color: white;
}
