<div class="container">
  <div class="form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="text-align: center;">Edit Author</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form novalidate (ngSubmit)="save()" [formGroup]="editAuthorForm">

              <div class="form-group">
                <label for="firstName">First Name</label>
                <div>
                  <input class="form-control" id="firstName" type="text" placeholder="First Name (required)"
                    formControlName="firstName" [ngClass]="{
                      'is-invalid':
                        (firstName.touched || firstName.dirty) &&
                        !firstName.valid
                    }" />
                  <span class="invalid-feedback">
                    <span *ngIf="firstName.errors?.required">
                      First name is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <div>
                  <input class="form-control" id="lastName" type="text" placeholder="Last Name (required)"
                    formControlName="lastName" [ngClass]="{
                      'is-invalid':
                        (lastName.touched || lastName.dirty) &&
                        !lastName.valid
                    }" />
                  <span class="invalid-feedback">
                    <span *ngIf="lastName.errors?.required">
                      Last name is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="middleNames">Middle Names</label>
                <div>
                  <input class="form-control" id="middleNames" type="text" placeholder="middle Names"
                    formControlName="middleNames" [ngClass]="{
                      'is-invalid':
                        (middleNames.touched || middleNames.dirty) &&
                        !middleNames.valid
                    }" />
                </div>
              </div>



              <div class="form-group">
                <label for="about">About</label>
                <div>
                  <textarea class="form-control" id="about" type="textarea" placeholder="about" rows="3"
                    formControlName="about" [ngClass]="{
                      'is-invalid':
                        (about.touched || about.dirty) && !about.valid
                    }"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit" [title]="" [disabled]="!editAuthorForm.valid">
                    Save <i class="far fa-save"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
