<div class="container">
  <div style="margin-top: 50px; margin-left: 20%; margin-right: 20%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="text-align: center;">Author Edit form</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form novalidate (ngSubmit)="save()" [formGroup]="editAuthorForm">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <div>
                  <input
                    class="form-control"
                    id="firstNameId"
                    type="text"
                    placeholder="First Name (required)"
                    formControlName="first_name"
                    [ngClass]="{
                      'is-invalid':
                        (first_name.touched || first_name.dirty) &&
                        !first_name.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="first_name.errors?.required">
                      First name is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <div>
                  <input
                    class="form-control"
                    id="lastNameId"
                    type="text"
                    placeholder="Last Name (required)"
                    formControlName="last_name"
                    [ngClass]="{
                      'is-invalid':
                        (last_name.touched || last_name.dirty) &&
                        !last_name.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="last_name.errors?.required">
                      Last name is required.
                    </span>

                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="middle_names">middle_names</label>
                <div>
                  <input
                    class="form-control"
                    id="middle_names"
                    type="text"
                    placeholder="middle_names(required)"
                    formControlName="middle_names"
                    [ngClass]="{
                      'is-invalid':
                        (middle_names.touched || middle_names.dirty) &&
                        !middle_names.valid
                    }"
                  />
                 
                </div>
              </div>

              <div class="form-group">
                <label for="name"> Name</label>
                <div>
                  <input
                    class="form-control"
                    id="name"
                    type="text"
                    placeholder="name"
                    formControlName="name"
                    [ngClass]="{
                      'is-invalid': (name.touched || name.dirty) && !name.valid
                    }"
                  />

                </div>
              </div>
              <div class="form-group">
                <label for="about">about</label>
                <div>
                  <input
                    class="form-control"
                    id="about"
                    type="text"
                    placeholder="about"
                    formControlName="about"
                    [ngClass]="{
                      'is-invalid':
                        (about.touched || about.dirty) && !about.valid
                    }"
                  />

                </div>
              </div>

              <div class="form-group">
                <div>
                  <button
                    class="btn btn-primary mr-3"
                    type="submit"
                    [title]="
                      editAuthorForm.valid
                        ? 'Save your entered data'
                        : 'Disabled until the form data is valid'
                    "
                    [disabled]="!editAuthorForm.valid"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
