<div class="container">
  <div class="form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="text-align: center;">Edit Author</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form novalidate (ngSubmit)="save()" [formGroup]="editAuthorForm">

              <div class="form-group">
                <label for="firstName">First Name</label>
                <div>
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder="First Name (required)"
                    formControlName="first_name"
                    [ngClass]="{
                      'is-invalid':
                        (first_name.touched || first_name.dirty) &&
                        !first_name.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="first_name.errors?.required">
                      First name is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <div>
                  <input
                    class="form-control"
                    id="lastName"
                    type="text"
                    placeholder="Last Name (required)"
                    formControlName="last_name"
                    [ngClass]="{
                      'is-invalid':
                        (last_name.touched || last_name.dirty) &&
                        !last_name.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="last_name.errors?.required">
                      Last name is required.
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="middleNames">Middle Names</label>
                <div>
                  <input
                    class="form-control"
                    id="middleNames"
                    type="text"
                    placeholder="middle Names"
                    formControlName="middle_names"
                    [ngClass]="{
                      'is-invalid':
                        (middle_names.touched || middle_names.dirty) &&
                        !middle_names.valid
                    }"
                  />
                </div>
              </div>



              <div class="form-group">
                <label for="about">about</label>
                <div>
                  <textarea
                    class="form-control"
                    id="about"
                    type="textarea"
                    placeholder="about"
                    rows="3"
                    formControlName="about"
                    [ngClass]="{
                      'is-invalid':
                        (about.touched || about.dirty) && !about.valid
                    }"
                  ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button
                    class="btn btn-primary mr-3"
                    type="submit"
                    [title]=""
                    [disabled]="!editAuthorForm.valid"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
