/* You can add global styles to this file, and also import other style files */
$common-color:#007fba;
$white:#fff;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.container {
  padding: 30px;
  font-size: larger;
}

.mat-drawer-container {
  height: 100vh !important;

}

.mat-drawer-inner-container {
  width: 300px !important;
  background-color: $common-color;
}

.right-side {
  padding: 15px !important;
  background-color: $common-color;
  display: flex !important;

  h1 {
    text-align: center !important;
    padding: 0 !important;
    margin: auto;
  }
}

.mat-icon,
.mat-list-item,
h1 {
  cursor: pointer !important;
  color: $white !important;
}

.mat-icon {
  font-size: 36px;
}

.mat-list-base {
  padding-top: 30px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  text-align: center !important;
  display: block !important;
  padding-top: 15px !important;
}

.mat-list-item-content:hover {
  background-color: #007fba !important;
}
