$common-color: #007fba;
$white: #fff;

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Arvo', serif;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.container {
  padding: 30px;
  font-size: larger;
}

.mat-drawer-container {
  height: 100vh !important;
}

.mat-drawer-inner-container {
  width: 300px !important;
  background-color: $common-color;
}

.right-side {
  padding: 15px !important;
  background-color: $common-color;
  display: flex !important;

  h1 {
    text-align: center !important;
    padding: 0 !important;
    margin: auto;
  }
}

.mat-icon,
.mat-list-item,
h1 {
  cursor: pointer !important;
  color: $white !important;
}

.mat-icon {
  font-size: 36px;
}

.mat-list-base {
  padding-top: 30px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  text-align: center !important;
  display: block !important;
  padding-top: 15px !important;
}

.mat-list-item-content:hover {
  background-color: #007fba !important;
}
.form {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}
h3 {
  text-align: center;
}
.panel-default > .panel-heading {
  background-color: #ffc72c;
  height: 50px;
  padding: 5px;
}
.required {
  content: "*";
  color: red;
}
.search-box {
  position: relative;
  float: right;
}
.search-box input {
  height: 34px;
  border-radius: 20px;
  padding-left: 35px;
  border-color: #ddd;
  box-shadow: none;
}
.search-box input:focus {
  border-color: #3fbae4;
}
.search-box i {
  color: #a0a5b1;
  position: absolute;
  font-size: 19px;
  top: 8px;
  left: 10px;
}
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  margin-bottom: 50px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 14px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: 250px;
}
p {
  font-weight: bolder;
}
h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2:before,
h2:after {
  content: "";
  border-top: 2px solid yellow;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 0 0 20px;
}
.invalid-feedback {
  color: red;
}
