<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img
      src="https://www.dvt.co.za/images/page-headers/company-overview.png" style="width:fit-content;"
    />
  </div>

  <div class="container text-white">
    <h1  i18n="DVT BOOKS Header|Words DVT BOOKS Header@@Words DVT BOOKS Header">DVT BOOKS</h1>
    <p class="lead" i18n="Description Header|Words This a dvt books application which hosts a repository for books and authors .It allows for users view various software development related books ,search for books and view Header@@Words Description Header">
     This is a dvt books application which hosts a repository for books and authors .It allows for users view various software development related books ,search for books and view
    </p>
    <hr class="my-4" />
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
